{% load static %}
<aside class="sidebar">
    <h1 class="logo">🔥LearnCode</h1>
    <nav class="main-nav">
        <ul>
            <li><a href="{% url 'instructor_dashboard' %}">📊 Dashboard</a></li>
            <li><a href="{% url 'instructor_my_courses' %}">📚 My Courses</a></li>
            <li><a href="#analytics">📈 Analytics</a></li>
            <li><a href="{% url 'instructor_create_course' %}">✏️ Create Course</a></li>
            <li><a href="#earnings">💰 Earnings & Payouts</a></li>
            <li><a href="{% url 'instructor_engagement' %}">🧑‍💻 Student Engagement</a></li>
        </ul>
    </nav>
</aside>